
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create employe</title>
</head>
<body>
    <div>
        <h3>Create post</h3>
        <form method="post" action="">
            <table>
                <tr>
                    <td><p>Input name </p></td>
                    <td><input type="text" name="Name" /> </td>
                </tr>
                <tr>
                    <td><p>Input wage </p></td>
                    <td><input type="number" name="Wage" /> </td>
                </tr>
                <tr><td><input type="submit" value="Create" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>
